{% extends "index.html" %}
{% block body %}
    <h1>Page actuelle: {{ title }}</h1>
    <h2>Score: <span>{{ session.score }}</span></h2>
    <form method="post" action="/move">
        <ul class="page-list">
            {% for link in links %}
                <li>
                    <input hidden type="radio" id="{{ link }}" name="destination" value="{{ link }}"
                           onclick="this.form.submit();this.disabled = true"
                           {% if loop.index == 1 %}checked{% endif %}>
                    <label for="{{ link }}" {% if link == 'Philosophie' %}class="good" {% endif %}>{{ link }}</label>
                </li>
            {% endfor %}
        </ul>
        <input type="hidden" name="current_score" value="{{ session.score }} ">
    </form>
    <a href="/abandon" class="abandon">Abandonner la partie</a>
{% endblock %}
