<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tous les chemins mènent à la philosophie</title>
</head>
<body>
{% block body %}
    {# Début du bloc "body", dont vous devez modifier le contenu #}
    <h1>Tous les chemins mènent à la philosophie</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                <li class="score">
                    Score: <span>{{ session.score }}</span>
                </li>
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post" action="/new-game">
        <label for="start">Saisir la première page:</label>
        <input name="start" id="start" placeholder="nom de page" required>
        <button class="btn-start" type="submit">Départ</button>
    </form>
    {# Fin du bloc "body" #}
{% endblock %}
</body>
</html>
